{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Log in!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mt-5 card p-5">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Log in as
						{{ app.user.username }},
						<a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Log in</h1>
                <hr>
				<label for="inputUsername">Username</label>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
				<label class="mt-3" for="inputPassword ">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>

				<div class="d-flex mt-3 justify-content-center align-items-center">
					<button class="btn btn-lg btn-success text-light">
						Sign in
					</button>
					<span class="mx-3"> or </span>
					<a class="btn btn-outline-primary btn-sm" href="{{ path('app_register') }}">Create an account</a>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			</form>


		</div>
	</div>
{% endblock %}
