{% extends 'base.html.twig' %}

{% block title %}Ranking{% endblock %}

{% block body %}
    <main class="container">
		<section class="mt-5 p-5 card fs-5">
			<h1 class="text-primary">Ranking</h1>
			<ul class="list-group mt-3">
            {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ loop.index }}</span>
                    <div class="{{ loop.index < 4 ? 'rank-'~loop.index }}">
                        {% include 'ranking/_medal.html.twig' %}
                        <span title=" {{user.lastCaptureAt ? 'Heure du dernier challenge réussi ' ~ user.lastCaptureAt|date('d/m/Y - H:i:s') }}">
                            {{ user.username }}
                        </span>
                    </div>
                    <span title=" {{user.lastCaptureAt ? 'Heure du dernier challenge réussi ' ~ user.lastCaptureAt|date('d/m/Y - H:i:s') }}" class="badge bg-primary badge-pill">Challenges réussis : {{ user.stepInProgress - 1 }}</span>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
