{% extends 'base.html.twig' %}

{% block title %}Ranking{% endblock %}

{% block body %}
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ loop.index }}</span>
                <div class="{{ loop.index < 4 ? 'rank-'~loop.index }}">
                    {% include 'ranking/_medal.html.twig' %}
                    {{ user.username }}
                </div>
                <span title=" {{user.lastCaptureAt ? 'Last capture at ' ~ user.lastCaptureAt|date('d/m/Y - H:i:s') }}" class="badge badge-secondary badge-pill">Drapeaux capturés : {{ user.stepInProgress - 1 }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
