{% if (app.user.stepInProgress > challenge.step ) %}
	{% set cardStyle = 'bg-success' %}
{% endif %}
{% if (app.user.stepInProgress < challenge.step ) %}
	{% set cardStyle = 'opacity-75 bg-secondary' %}
	{% set disabled = true %}
{% endif %}
{% set disabled = false %}

<div class="card mt-3 {{ cardStyle|default('') }}" id="challenge-{{ loop.index }}">
	<div class="card-header {{ cardStyle|default('bg-primary') }} text-light d-flex justify-content-between ">
		<div class="fs-5">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewbox="0 0 16 16">
				<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
			</svg>
			Challenge #{{ challenge.step }}
		</div>
		<div>
			Difficulty :
			{{ challenge.level }}
		</div>
	</div>
	<div class="card-body">
		<h2 class="card-title">{{ challenge.name }}
			<a target="_blank" href="{{ disabled ? '#' : challenge.url }}" class="btn btn-outline-primary btn-lg {{ disabled ? 'disabled' }}">Voir le challenge</a>
		</h2>
		<p class="card-text fs-5 fw-light ">{{ challenge.notice }}</p>
		<hr>
		<p class="fs-5">
			{% if (app.user.stepInProgress == challenge.step ) %}
				Poste ta solution pour accéder au prochain challenge
				{% include 'challenge/_form_solution.html.twig' %}
			{% endif %}
			{% if (app.user.stepInProgress > challenge.step ) %}
				Challenge réussi !
			{% endif %}
			{% if (app.user.stepInProgress < challenge.step ) %}
				Challenge en attente
			{% endif %}
		</p>
	</div>
</div>
